#agenda table, #mini_agenda table {    
    margin: auto;
    
    border: 1px solid black;
    
    border-collapse: collapse;
    
    background-color: #677E52;
    
    clear: both;
}

#agenda caption {
    font-size: 15pt;
    font-weight: bold;
    
    padding: 5px;
}

#mini_agenda caption {
    font-weight: bold;
}

#agenda th, #mini_agenda th {
    text-align: center;
}

#agenda td {
    width: 80px;
    height: 80px;
    
    text-align: left;
    vertical-align: top;
    
    background-color: #F6E8B1;
    
    border: 1px solid black;
}

#mini_agenda td {
    width: 5px;
    height: 5px;
    
    text-align: left;
    vertical-align: top;
    
    background-color: #F6E8B1;
    
    border: 1px solid black;
}

#agenda .infobubble {
    position: relative;
    bottom: 30px;
    left: 0px;
    
    border: solid 1px black;
    background-color: white;
    
    visibility: hidden;
}

#agenda td:hover .infobubble { 
    visibility: visible;
}

#agenda .past, #mini_agenda .past {
    text-decoration: line-through;
}

#agenda .today, #mini_agenda .today {
    text-decoration: underline;
}

#agenda .future, #mini_agenda .future {

}

#agenda .busy, #mini_agenda .busy {
    font-weight: bold;
    color: red;
}

#agenda #today {
    text-align: center;
}

.event {
    margin: auto;
    padding: 10px;
    
    text-align: justify;
    background-color: #F6E8B1;
    
    border: solid black 1px;
    
    overflow: auto;
        
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;    
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.event h3 {
    display: inline;
}

.event img {
    float: left;
}