{#
    Partners list public page

    @author François Dupire
#}
{% extends "::layout.html.twig" %}

{% block title %}Liens - {{ parent() }}{% endblock %}
{% block meta_description %}Les liens vers les partenaires del'Harmonie.{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/hrompartner/css/partner.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/list.css') }}" />
{% endblock %}
{% block header_title %}Liens{% endblock %}

{% block body %}
    L'Harmonie est en contact et partenariat avec diverses sociétés et associations. Vous trouverez quelques informations utiles concernant ces dernières sur cette page.
    
    <div id="partners">
        {% for partner in partnersList %}
            {% include "HROMPartnerBundle:Partner:partner.html.twig" %}
        {% endfor %}
    </div>

    {% set page = app.request.get('page') %}
    {% set navRoute = 'partners_all' %}

    {% include '::listnav.html.twig' %}

{% endblock %}