{#
    News list public page

    @author François Dupire
#}
{% extends "::layout.html.twig" %}

{% block title %}News - {{ parent() }}{% endblock %}
{% block meta_description %}Les dernières nouvelles de l'Harmonie.{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/hromnews/css/news.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/list.css') }}" />
{% endblock %}
{% block header_title %}News{% endblock %}

{% block body %}
    <div id="news">
        {% for news in newsList %}
            {% include "HROMNewsBundle:News:news.html.twig" %}
        {% endfor %}
    </div>

    {% set page = app.request.get('page') %}
    {% set navRoute = 'news_all' %}

    {% include '::listnav.html.twig' %}

{% endblock %}