{#
    Little piece of HTML-TWIG for displaying last news titles

    @author François Dupire
#}
{% for news in newsList %}
    <a href="{{ path('news_all')}}#news{{ news.id }}">{{ news.title }}</a><br />
{% endfor %}