/*News*/

.news {    
    margin: auto;
    padding: 10px;
    
    text-align: justify;
    background-color: #F6E8B1;
    
    border: solid black 1px;
    
    overflow: auto;
        
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;    
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.news h1 {
    font-size: 14pt;
    font-weight: bold;
}

.news img {
    float: left;
}

.news .signature {
    width: 100%;
    
    font-style: italic;
    
    text-align: right;
}