/*News*/

.news {    
    margin: auto;
    padding: 10px;
    
    text-align: justify;
    background-color: #F6E8B1;
    
    border: solid black 1px;
    
    overflow: auto;
    
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.news img {
    float: left;
}

.news .signature {
    width: 100%;
    
    font-style: italic;
    
    text-align: right;
}