/*Forms*/
.form {
    width: 70%;
    
    margin: auto;
    
    font-size: 12pt;
}

.form .description {
    
}

.form legend {
    font-weight: bold;
}

.form label {
    display: inline-block;
    
    vertical-align: middle;
    
    font-weight: bold;
    text-align: right;
}

.form .help {
    font-size: 10pt;
    font-style: italic;
    font-weight: normal;
    text-align: right;
}

.form input {
    vertical-align: middle;
}

.form select {
    vertical-align: middle;
}

.form .required:after {
    content: "*";
}