/*Listings*/
.listing {
    width: 100%;
    
    margin: auto;
    
    border-collapse: collapse;
}

.listnav {
    margin-top: 10px;
    margin-bottom: 10px;
    
    text-align: center;
}

th {
    background-color: #677E52;
}

#editColumn, #deleteColumn {
    width: 5%;
}

td {
    padding: 3px;
}

.pair td {
    background-color: #F0DC8C;
}

.impair td {
    background-color: #F6E8B1;
}