/*General*/
html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    
    margin: 0px;
    
    font-family: Georgia, "DejaVu Serif", Norasi, serif;
    
    background-color: #677E52;
}

a {
    color: black;
}

*[align="center"] {
    text-align: center;
}

*[align="right"] {
    text-align: right;
}

.error {
    color: red;
}

/*Header*/
#header {
    height: 20%;
}

#header table {
    height: 100%;
    width: 100%;
}

#logo {
    width: 10%;
    
    text-align: center;
    vertical-align: middle;
}

#header_title {    
    font-size: 16pt;
    color: #F6E8B1;
    text-align: center;
}

/*Menu*/
#left_part {
    position: absolute;
    top: 20%;

    min-height: 100%;
    width: 15%;

    font-size: 15pt;
}

#left_part ul {
    list-style-type: none;

    padding: 0px;
    margin: 0px 0px 0px 15px;
}

#left_part li {
    padding: 9px 15px 9px 15px;
    margin: 0px;

    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#left_part a {
    color: #F6E8B1;

    text-decoration: none;
}

#left_part li:hover, #left_part .selected {
    background-color: #B7CA79;
}

#left_part li:hover a, #left_part .selected a {        
    color: black; 
    text-decoration: underline;
}

/*Content*/
#connect {
    display: table-cell;
    
    position: absolute;
    top: 20%;
    left: 15%;

    height: 10%;
    width: 85%;
    
    padding-top: 1%;
    padding-bottom: 1%;
    
    text-align: right;

    background-color: #B7CA79;
}

#content {
    position: absolute;
    top: 30%;
    left: 15%;

    min-height: 100%;
    width: 85%;

    background-color: #B7CA79;
    
    overflow: auto;
}

#main {
    position: absolute;
    
    min-height: 100%;
    width: 85%;
}

#right_part {
    position: absolute;
    left: 85%;

    width: 15%;

    border-left: 1px solid black;
}

#right_part h1 {
    font-size: 14pt;
    text-decoration: underline;
}
       
/*Buttons*/
.btn {
    display: inline-block;
    
    padding: 5px 10px 5px 10px;
        
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;    
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
    color: #F6E8B1;
    background-color: #677E52;
    border: solid 2px black;
    
    font-size : 13pt;
    text-decoration: none;
}

.btn:hover {
    border: solid 2px #F6E8B1;
}