/*General*/
html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    
    margin: 0px;
    
    font-family: Georgia, "DejaVu Serif", Norasi, serif;
    
    background-color: #677E52;
}

h2 {
    color: #52251C;
    font-size: 15pt;
    font-weight: bold;
}

a {
    color: black;
}

p[align="center"] {
    text-align: center;
}

#description {
    font-style: italic;
}

.error {
    color: red;
}

.error ul {
    padding: 0px;
    
    font-size: 10pt;
}

/*Header*/
#header {
    height: 20%;
}

#header table {
    height: 100%;
    width: 100%;
}

#logo {
    width: 10%;
    
    text-align: center;
    vertical-align: middle;
}

#header_title {    
    font-size: 16pt;
    color: #F6E8B1;
    text-align: center;
}

/*Body*/
#body {    
    min-height: 100%;
}

    /*Menu*/
    #left_part {
        position: absolute;
        top: 20%;
        
        min-height: 100%;
        width: 15%;
        
        font-size: 15pt;
    }
    
    #left_part ul {
        list-style-type: none;
        
        padding: 0px;
        margin: 0px 0px 0px 15px;
    }
    
    #left_part li {
        padding: 9px 15px 9px 15px;
        margin: 0px;
        
        -webkit-border-top-left-radius: 20px;
        -webkit-border-bottom-left-radius: 20px;
        -moz-border-radius-topleft: 20px;
        -moz-border-radius-bottomleft: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    
    #left_part a {
        color: #F6E8B1;
        
        text-decoration: none;
    }
    
    #left_part li:hover {
        background-color: #B7CA79;
    }
    
    #left_part li:hover a {        
        color: black; 
        text-decoration: underline;
    }
    
    #left_part .selected {
        background-color: #B7CA79;
    }
    
    #left_part .selected a{
        color: black; 
        text-decoration: underline;
    }

    /*Content*/
    #main {
        position: absolute;
        top: 20%;
        left: 15%;
        
        min-height: 100%;
        width: 85%;

        background-color: #B7CA79;
    }
    
    #content {
        min-height: 100%;
        width: 95%;
	
	margin: auto;
    }
    
        /*Connect*/
        #connect {
            width: 95%;          
            padding-top: 1%;
	    padding-bottom: 1%;
	
	    margin: auto;
            
            text-align: right;
       }