/*News*/

.news {    
    margin: auto;
    padding: 10px;
    
    text-align: justify;
    
    border: solid black 1px;
    
    overflow: auto;
}

.news h1 {
    font-size: 14pt;
    font-weight: bold;
}

.news img {
    float: left;
}

.news .signature {
    width: 100%;
    
    font-style: italic;
    
    text-align: right;
}