/**
 * Gallery css
 *
 * @author François Dupire
 */

#albums .album-intro {
    display: inline-block;
    
    width: 30%;
    
    background-color: #F6E8B1;
    
    border: solid black 1px;
    
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
    vertical-align: middle;
    
    text-align: center;
}

#album {
    text-align: center;
}