<!--
    A little piece of HTML-TWIG for displaying calendar

    @author François Dupire
-->
{% for week in cal %}
    <tr>
        {% for day in week %}
            <td class="
                {% if not (day is empty) %}
                    {% if day.past %}past
                    {% elseif day.today %}today
                    {% elseif day.future %}future
                    {% endif %}

                    {% if not (day.eventsList is empty) %}busy{% endif %}                                
                {% endif %}
            ">
                {% if not (day is empty) %} 
                    <a href="{{ path('events_calendar_day', {'day' : day.date|date('d'), 'month' : day.date|date('m'), 'year' : day.date|date('Y')}) }}">
                        {{ day.date|date('d') }}
                    </a>
                {% endif %}
            </td>
        {% endfor %}
    </tr>
{% endfor %}