<div class="album" id="album{{album.id}}">
    <embed
        type="application/x-shockwave-flash"
        src="https://static.googleusercontent.com/external_content/picasaweb.googleusercontent.com/slideshow.swf"
        width="600"
        height="400"
        flashvars="host=picasaweb.google.com&captions=1&noautoplay=1&hl=fr&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F100238008850692364945%2Falbumid%2F{{ album.googleAlbumID }}%3Falt%3Drss%26kind%3Dphoto%26hl%3Dfr"
        pluginspage="http://www.macromedia.com/go/getflashplayer">
    </embed>
</div>